<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acghome.mapper.db1.join.MallManageMapper" >
  
  
  <select id="countManageList" resultType="int" parameterType="com.acghome.query.MallManageQuery" >
    select count(*)
    from mall
    <include refid="ManageListQuery"/>
  </select>

  <sql id="ManageListQuery">
    <where>
      <if test="query!=null and query.mallId!=null">
        AND mall_id=#{query.mallId}
      </if>
      <if test="query!=null and query.publishStatus!=null and query.publishStatus!='' ">
        AND publish_status=#{query.publishStatus}
      </if>
    </where>
  </sql>


  <select id="getManageList" resultMap="MallManageDO"  >
    SELECT
    m.mall_id,m.product_id as m_product_id,m.store_id,m.product_name as m_product_name,
    m.publish_status,m.audit_status,m.create_time as m_create_time,m.modified_time as m_modified_time,
    p.product_id ,p.product_name ,p.brand_name,p.one_category_id,p.product_core,p.price,p.original_price
    FROM mall as m
    LEFT JOIN product as p on m.product_id=p.product_id
    <include refid="ManageListQuery"/>
    ORDER BY m.modified_time desc , m.publish_status asc
    LIMIT #{offset},#{limit};
  </select>

<resultMap id="MallManageDO" type="com.acghome.pojo.DO.MallManageDO">
  <id column="mall_id"/>
  <association property="mall" javaType="com.acghome.entity.db1.Mall">
    <id column="mall_id" property="mallId" jdbcType="INTEGER" />
    <result column="m_product_id" property="productId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="m_product_name" property="productName" jdbcType="VARCHAR" />
    <result column="publish_status" property="publishStatus" jdbcType="INTEGER" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="m_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="m_modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
  </association>

  <association property="product" javaType="com.acghome.entity.db1.Product">
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_core" property="productCore" jdbcType="CHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="one_category_id" property="oneCategoryId" jdbcType="INTEGER" />
    <result column="two_category_id" property="twoCategoryId" jdbcType="INTEGER" />
    <result column="three_category_id" property="threeCategoryId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="original_price" property="originalPrice" jdbcType="DECIMAL" />
    <!--<result column="status" property="status" jdbcType="INTEGER" />-->
    <!--<result column="production_date" property="productionDate" jdbcType="TIMESTAMP" />-->
    <!--<result column="shelf_life" property="shelfLife" jdbcType="INTEGER" />-->
    <!--<result column="indate" property="indate" jdbcType="TIMESTAMP" />-->
    <!--<result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />-->
  </association>
</resultMap>


 
</mapper>