<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acghome.mapper.join.GetProductDetailMapper">



  <select id="selectProductDetail" resultMap="ProductDetail" parameterType="int">
    select
    p.product_id, p.product_core, p.product_name, p.bar_code, p.brand_name, p.one_category_id,p.two_category_id,
    p.three_category_id,p.price,p.original_price,p.status,p.production_date,p.shelf_life,p.indate,p.modified_time,
    pa.id as pa_id, pa.product_id as pa_product_id, pa.value as pa_value,
    ppi.*
    from product as p
    INNER JOIN product_attribute as pa on p.product_id=pa.product_id
    INNER JOIN product_pic_info as ppi on p.product_id=ppi.product_id
    where p.product_id=#{product_id} ;
  </select>

  <resultMap id="ProductDetail" type="com.acghome.pojo.DO.ProductDetail" >
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_core" property="productCore" jdbcType="CHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="bar_code" property="barCode" jdbcType="VARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="one_category_id" property="oneCategoryId" jdbcType="INTEGER" />
    <result column="two_category_id" property="twoCategoryId" jdbcType="INTEGER" />
    <result column="three_category_id" property="threeCategoryId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="original_price" property="originalPrice" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="production_date" property="productionDate" jdbcType="TIMESTAMP" />
    <result column="shelf_life" property="shelfLife" jdbcType="INTEGER" />
    <result column="indate" property="indate" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <association property="product_attribute" javaType="Product_attribute">

   </association>
    <collection property="emps" ofType="Emp">
      <id property="id" column="id"></id>
      <result property="user_id" column="user_id"></result>
      <result property="realname" column="realname"></result>
      <result property="email" column="email"></result>
    </collection>
  </resultMap>

  <resultMap id="articleMap" type="Article" autoMapping="true">
    <id property="id" column="id"/>
    <result property="createTime" column="create_time"/>
    <result property="modifyTime" column="modify_time"/>
    <association property="author" column="author"
                 resultMap="authorMap" columnPrefix="a_"/>
  </resultMap>

  <!--<select id="getUser" resultType="com.acghome.entity.db1.User" parameterType="String">-->
    <!--SELECT * FROM  t_user WHERE username=#{username}-->
  <!--</select>-->

</mapper>