<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acghome.mapper.db1.StoreMapper" >
  <resultMap id="BaseResultMap" type="com.acghome.entity.db1.Store" >
    <id column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="store_start_time" property="storeStartTime" jdbcType="TIMESTAMP" />
    <result column="store_end_time" property="storeEndTime" jdbcType="TIMESTAMP" />
    <result column="store_type" property="storeType" jdbcType="INTEGER" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    store_id, store_name, store_start_time, store_end_time, store_type, modified_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.acghome.entity.db1.StoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from store
    where store_id = #{storeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from store
    where store_id = #{storeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.acghome.entity.db1.StoreExample" >
    delete from store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.acghome.entity.db1.Store" useGeneratedKeys="true" keyProperty="storeId" >
    insert into store (store_name, store_start_time, store_end_time, 
      store_type, modified_time)
    values (#{storeName,jdbcType=VARCHAR}, #{storeStartTime,jdbcType=TIMESTAMP}, #{storeEndTime,jdbcType=TIMESTAMP}, 
      #{storeType,jdbcType=INTEGER}, #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.acghome.entity.db1.Store" useGeneratedKeys="true" keyProperty="storeId" >
    insert into store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="storeStartTime != null" >
        store_start_time,
      </if>
      <if test="storeEndTime != null" >
        store_end_time,
      </if>
      <if test="storeType != null" >
        store_type,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeStartTime != null" >
        #{storeStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeEndTime != null" >
        #{storeEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeType != null" >
        #{storeType,jdbcType=INTEGER},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.acghome.entity.db1.StoreExample" resultType="java.lang.Integer" >
    select count(*) from store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update store
    <set >
      <if test="record.storeId != null" >
        store_id = #{record.storeId,jdbcType=INTEGER},
      </if>
      <if test="record.storeName != null" >
        store_name = #{record.storeName,jdbcType=VARCHAR},
      </if>
      <if test="record.storeStartTime != null" >
        store_start_time = #{record.storeStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.storeEndTime != null" >
        store_end_time = #{record.storeEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.storeType != null" >
        store_type = #{record.storeType,jdbcType=INTEGER},
      </if>
      <if test="record.modifiedTime != null" >
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update store
    set store_id = #{record.storeId,jdbcType=INTEGER},
      store_name = #{record.storeName,jdbcType=VARCHAR},
      store_start_time = #{record.storeStartTime,jdbcType=TIMESTAMP},
      store_end_time = #{record.storeEndTime,jdbcType=TIMESTAMP},
      store_type = #{record.storeType,jdbcType=INTEGER},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.acghome.entity.db1.Store" >
    update store
    <set >
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeStartTime != null" >
        store_start_time = #{storeStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeEndTime != null" >
        store_end_time = #{storeEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeType != null" >
        store_type = #{storeType,jdbcType=INTEGER},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where store_id = #{storeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.acghome.entity.db1.Store" >
    update store
    set store_name = #{storeName,jdbcType=VARCHAR},
      store_start_time = #{storeStartTime,jdbcType=TIMESTAMP},
      store_end_time = #{storeEndTime,jdbcType=TIMESTAMP},
      store_type = #{storeType,jdbcType=INTEGER},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where store_id = #{storeId,jdbcType=INTEGER}
  </update>
</mapper>