<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acghome.mapper.db1.UserMapper">

  <select id="loadAll" resultType="com.acghome.entity.db1.User">
    select * from t_user
  </select>

  <select id="getUser" resultType="com.acghome.entity.db1.User" parameterType="String">
    SELECT * FROM  t_user WHERE username=#{username}
  </select>

</mapper>